# .gcloudignore

# Ignore everything by default
**

# Allow important folders and files
!Dockerfile
!requirements.txt
!setup.py
!application.py

# Fix: allow folder AND its contents
!src/
!src/**
!pipeline/
!pipeline/**
!artifacts/
!artifacts/**

# Allow model files
!*.pkl
!*.joblib
!*.model

# Still ignore unnecessary large folders
**/__pycache__/
**/.git/
**/.github/
**/.vscode/
*.log